<!DOCTYPE html>
<html>
  <head>
    <title>On The Beach Holidays</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/"><button class="btn btn-primary">Home</button></a>
            <a href="/fresh_session"><button class="btn btn-danger">Fresh Session</button></a>
          </div>
          <div class="panel-body">

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
